.aboutPic {
    border-radius: 10%;
    border: 3px solid purple;
    box-shadow: 5px 5x grey;
    max-width: 65%;
}

.aboutPicOld {
    border-radius: 10%;
    border: 3px solid purple;
    box-shadow: 5px 5px grey;
    max-width: 70%;
}

.downArrowPic {
    max-width: 100%;
}

#aboutWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#about-me {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 100px;
    display: flex;
}

#aboutDescription {
    overflow: scroll;
    text-align: center;
    width: 50%;
}

#aboutPicture {
    width: 50%;
    padding: 2%;
    text-align: center;
}

#aboutDescriptionOld {
    overflow: scroll;
    float: left;
    text-align: center;
    width: 50%;
    max-height: 70%;
    padding: 20px;
    margin-top: 6%;
    margin-bottom: 10%;
    margin-left: 5%;
}

#aboutPictureOld {
    float: right;
    width: 30%;
    padding: 20px;
    margin-top: 9%;
    margin-right: 7%;
}