.aboutPic {
    -webkit-border-radius: 10%;
    border-radius: 10%;
    border: 3px solid purple;
    -webkit-box-shadow: 5px 5px grey;
    box-shadow: 5px 5px grey;
    max-width: 65%;
}

.downArrowPic {
    max-width: 100%;
}

#aboutWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#about-me {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 100px;
    display: flex;
}

#aboutDescription {
    overflow: scroll;
    text-align: center;
    width: 50%;
}

#aboutPicture {
    width: 50%;
    padding: 2%;
    text-align: center;
}