#projects {
    margin: 0;
    position: relative;
    width: 100%;
    min-height: 100%;
    padding: 100px;
    background-color: lightgray;
}

#projectsMobile {
    margin: 0;
    position: relative;
    width: 100%;
    min-height: 100%;
    padding-top: 25%;
    background-color: lightgray;
}

#projectHeader {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: black;
    margin: 10px;
}

#projectFilters {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 10px;
}

#projectFiltersMobile {
    text-align: center;
    font-weight: bold;
    font-size: 2vh;
    margin: 10px;
}

.filter {
    margin: 0 1%;
}

.filterMobile {
    margin: 0 1%;
    font-size: 2vh;
}

#projectSliderContainer {
    max-width: 59%;
    max-height: 59%;
    margin: auto;
}

#projectSliderContainerMobile {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
}

.stack_desc {
    width: 100%;
    height: 100%;
    display: flex;
    flex: wrap;
}

.left_stack {
    flex: 50%;
    margin: auto;
}

.right_desc {
    overflow: scroll;
    flex: 50%;
    margin: auto;
    text-align: center;
    font-size: medium;
    font-size: 1vw;
    color: white;
}

.inner {
    padding: 3%;
}

.colImg {
    max-height: 100%;
    max-width: 100%;
}

.projectDate {
    position: fixed;
    top: 2%;
    right: 2%;
    font-size: large;
    font-size: 1.1vw;
}

.footnote {
    font-size: x-small;
    font-size: 0.7vw;
}

.work {
    background-color: #0069d9;
}

.game {
    background-color: #28a745;
}

.web {
    background-color: #e0a800;
}

.misc {
    background-color: #dc3545;
}