#resume {
    margin: 0;
    position: relative;
    width: 100%;
    min-height: 100%;
    padding: 100px;
    background-color: white;
}

#resumeTemp {
    position: relative;
    width: 100%;
    height: 100%;
}

.roundedLogo {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid black;
    -webkit-box-shadow: -5px 5px black;
    box-shadow: -5px 5px black;
    background-color: white;
}

.leftShadow {
    -webkit-box-shadow: -5px 5px black;
    box-shadow: -5px 5px black;
}

.rightShadow {
    -webkit-box-shadow: 5px 5px black;
    box-shadow: 5px 5px black;
}

.subList {
    font-weight: lighter;
    font-size: 25px;
}

.sectionHeader {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    border: solid 3px black;
    margin: 10px;
}

.section {
    display: flex;
    position: relative;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.picDiv {
    width: 45%;
    text-align: center;
}

.descDiv {
    overflow: scroll;
    width: 55%;
    font-weight: bold;
    padding-left: 5%;
    font-size: 30px;
}

.descSub {
    font-size: 20px;
}

#schoolDesc {
    font-weight: bold;
    font-size: 30px;
}

.skillBox {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.skill {
    flex: 20%;
    max-width: 20%;
    padding: 0 4px;
    text-align: center;
    font-size: 150px;
}